<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzBspMpjmSs5-M9WszCcbk704zy77gG_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>330399516647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Miam.SampleMiamUIKitIntegration</string>
	<key>PROJECT_ID</key>
	<string>miamandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>miamandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330399516647:ios:9ae7e640f7e9e8d1a55f42</string>
</dict>
</plist>